@import "~bootstrap/dist/css/bootstrap.min.css";

h2 {
  padding: 5px;
  display: inline-block;
  margin-top: 10px;
}

h2,
h1,
h3 {
  color: white;
  text-align: center;
}

#fondo {
  margin-top: 15%;
  font-family: "Permanent Marker", cursive;
}

body {
  background-image: url("https://st2.depositphotos.com/1031174/5660/i/600/depositphotos_56604559-stock-photo-blackboard.jpg");
  background-repeat: no-repeat;

  background-size: 100% 100%;
  background-attachment: fixed;
}
